@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<EShop.Models.Product>

    @{
    int _current = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    }

    <div class="card" style="border-radius: 1rem;">
        <div class="card-body">
            <div class="row m-b-30" style="margin-bottom:15px;">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" id="idroles" name="RoleID" style="min-width: 180px;"
                                asp-items="ViewBag.AccessType">
                                <option value="0" disabled selected>Quyền</option>
                            </select>
                        </div>
                        <div class="m-b-10">
                            <select class="custom-select" id="idStt" name="StatusID" style="min-width: 180px;"
                                asp-items="ViewBag.Status">
                                <option value="" disabled selected>Status</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Create" class="btn btn-primary">
                        <i class="fas fa-plus" style="margin-right: 10px;"></i>
                        <span>Thêm Sản phẩm</span>
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">ID</th>
                            <th class="align-middle text-center">Tên sản phẩm</th>
                            <th class="align-middle text-center">Danh mục</th>
                            <th class="align-middle text-center">Giá</th>
                            <th class="align-middle text-center">Tồn kho</th>
                            <th class="align-middle text-center">Trạng thái</th>
                            <th class="align-middle text-center">Is BestSeller?</th>
                            <th class="align-middle text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="align-middle text-center">
                                @item.ProductId
                            </td>
                            <td class="align-middle text-center">
                                <h6 class="m-b-0 m-l-10">@item.ProductName</h6>
                            </td class="align-middle text-center">
                            <td class="align-middle text-center">@item.Cate.CategoryName</td>
                            <td class="align-middle text-center">@item.Price</td>
                            <td class="align-middle text-center"> @item.UnitInStock</td>
                            <td class="align-middle text-center">
                                @if(item.IsActived)
                                {
                                <span class="badge badge-lg badge-success">Đang được bán</span>
                                }
                                else
                                {
                                <span class="badge badge-lg badge-secondary">Không bán</span>
                                }
                            </td>
                            <td class="align-middle text-center">
                                @if (item.IsBestsellers == true)
                                {
                                <i class="fab fa-hotjar"></i>
                                }
                            </td>
                            <td class="align-middle text-center">
                                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Details"
                                    asp-route-id="@item.ProductId" class="btn btn-icon btn-sm btn-rounded">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit"
                                    asp-route-id="@item.ProductId" class="btn btn-icon btn-sm btn-rounded">
                                    <i class="fas fa-edit"></i></a>
                                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete"
                                    asp-route-id="@item.ProductId" class="btn btn-icon btn-sm btn-rounded">
                                    <i class="fas fa-minus-square"></i></a>
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>

                <!--Pagination-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        @* <li class="page-item disabled">
                            <a class="page-link" href="javascript:;" tabindex="-1">
                                <i class="fa fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:;">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:;">
                                <i class="fa fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>*@
                        <pager class="paper-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts"
                            asp-action="Index"></pager>
                    </ul>
                </nav>
                <!--End Pagination-->
            </div>
        </div>
    </div>
    <style>
        .btn:hover {
            border-color : #33E3DB;
            background-color: #fff;
        }

        .btn.btn-rounded {
            border-width: 2px;
            border-radius: 50px;
        }

        .btn-icon.btn-sm {
            width: 50 px;
            height: 50 px;
            line-height: 20px;
            font-size: 16px;
        }

        .btn-icon {
            padding: 0 px;
            width: 40 px;
            height: 40 px;
            line-height: 40px;
            transition-duration: 0.4s;
            font-size: 18px;
        }
    </style>